doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        )
        //- link(
        //-     rel="stylesheet"
        //-     href="styles/nav.css"
        //- )
        title Homepage
    body.bg-secondary
        header
            nav.navbar.navbar-expand-md.navbar-right.navbar-dark.bg-dark.p-2
                div.container-fluid.px-5
                    a.navbar-brand(href="#") Ryan Stam 
                    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                        span.navbar-toggler-icon 
                    div#navbarSupportedContent.collapse.navbar-collapse.container-fluid
                        ul.navbar-nav.ms-auto
                            li.nav-item
                                a.nav-link.active(aria-current="page" href="/homepage") Homepage
                            li.nav-item
                                a.nav-link(aria-current="page" href="/about-me") About Me
                            li.nav-item.dropdown
                                a.nav-link.dropdown-toggle(href="/projects" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") Projects
                                ul.dropdown-menu(aria-labelledby="navbarDropdown")
                                    li
                                        a.dropdown-item(href="/projects") Portfolio Website 
                                    li
                                        hr.dropdown-divider
                                    li
                                        a.dropdown-item(href="/projects") Food Pantry System 
                                    li
                                        hr.dropdown-divider
                                    li
                                        a.dropdown-item(href="/projects") Other
                            li.nav-item 
                                a.nav-link(href="/contact") Contact
            //- else 
            //-     ul.nav.justify-content-center.nav-fill.nav-tabs
            //-         li.nav-item 
            //-             a.nav-link.active(aria-current="page" href="/homepage") Home 
            //-         li.nav-item 
            //-             a.nav-link(href="/about-me") About Me 
            //-         li.nav-item
            //-             a.nav-link.disabled(href="#") Logo or smth 
            //-         li.nav-item.dropdown
            //-             a.nav-link.dropdown-toggle(data-bs-toggle="dropdown" href="/projects" role="button" aria-expanded="false") Projects 
            //-             ul.dropdown-menu 
            //-                 li 
            //-                     a.dropdown-item(href="/projects") Portfolio Website
            //-                 li
            //-                     hr.dropdown-divider
            //-                 li 
            //-                     a.dropdown-item(href="/projects") Food Pantry System
            //-                 li
            //-                     hr.dropdown-divider
            //-                 li 
            //-                     a.dropdown-item(href="/projects") Other Projects
            //-         li.nav-item 
            //-             a.nav-link(href="/contact") Contact
        h1.display-1(style="text-align: center") Hello World!
        
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")
